<%- include('./partials/head') %>

<header></header>
<main>
  <section id="main">
    <div id="points">
      <div>
        <p id="pointsAiv">50</p>
        <img src="/images/coins.png" alt="coins icon" id="coinsImg" />
      </div>
      <div>
        <p>You are playing for: <span id="plpoints">0</span></p>
      </div>
    </div>
    <p id="winner">YOU WIN</p>
    <section id="cards"></section>
    <div id="players">
      <p>PL 1</p>
      <p>PL 2</p>
    </div>
    <div id="buttons">
      <a id="pickCard">PICK A CARD</a>
      <div id="coins">
        <a id="min">-1</a>
        <a id="plus">+1</a>
      </div>
    </div>
  </section>
</main>

<%- include('./partials/foot') %>
