<%- include('./partials/head') %>

<header></header>
<main>
  <section id="main">
    <p id="winner">PLAYER 1 WON</p>
    <section id="cards"></section>
    <a href="/" id="playAgain">PLAY AGAIN</a>
  </section>
</main>
